<div class="alert alert-warning alert-dismissible" role="alert" data-ng-show="errorMessage">
  <button type="button" class="close" data-ng-click="dismissErrorMessage()"><span>&times;</span></button>
  {{errorMessage}}
</div>

<div class="alert alert-success alert-dismissible" role="alert" data-ng-show="successMessage">
  <button type="button" class="close" data-ng-click="dismissSuccessMessage()"><span>&times;</span></button>
  {{successMessage}}
</div>

<h1>Whiteboard</h1>

<div class="text-center">
  <div class="btn-group">
    <button class="btn btn-default" data-ng-click="shapetype = 'PATH'" data-ng-class="{active: shapetype == 'PATH'}"><span class="glyphicon glyphicon-pencil"></span></button>
    <button class="btn btn-default" data-ng-click="shapetype = 'RECT'" data-ng-class="{active: shapetype == 'RECT'}"><span class="glyphicon glyphicon-stop"></span></button>
    <button class="btn btn-default" data-ng-click="shapetype = 'TEXT'" data-ng-class="{active: shapetype == 'TEXT'}"><span class="glyphicon glyphicon-text-size"></span></button>
  </div>
</div>

<p></p>

<canvas width="1140" height="855" whiteboard-shapes="shapes" style="background-color: #f8f8f8;" whiteboard-event-callback="onDraw(event)" whiteboard-event-fps="10" whiteboard-render-fps="30" whiteboard-shape-type="shapetype"></canvas>
