<div class="alert alert-warning alert-dismissible" role="alert" data-ng-show="errorMessage">
  <button type="button" class="close" data-ng-click="dismissErrorMessage()"><span>&times;</span></button>
  {{errorMessage}}
</div>

<div class="alert alert-success alert-dismissible" role="alert" data-ng-show="successMessage">
  <button type="button" class="close" data-ng-click="dismissSuccessMessage()"><span>&times;</span></button>
  {{successMessage}}
</div>

<h1>Meine Whiteboards</h1>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Ersteller</th>
    </tr>
  </thead>

  <tbody>
    <tr data-ng-repeat="wb in whiteboards">
      <td>{{wb.id}}</td>
      <td>{{wb.creator}}</td>
    </tr>
  </tbody>

  <tfoot>
    <tr>
      <td colspan="2"><button class="btn btn-default" data-ng-click="createWhiteboard()">Neues Whiteboard anlegen</button></td>
    </tr>
  </tfoot>
</table>
